.wrapper {
    background-color:  rgba(4, 104, 117, 0.8);
    background: rgba(4, 104, 117, 0.9);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 7rem;
}

.add-card {
    width: 40rem;
    border-radius: 15px;
}

.add-card-heading {
    font-weight: 300;
    font-size: 2.2rem;
    color: #1F2833;
}

.form-group.label {
    font-weight: 500;
    color: #1F2833;
}

.input-field {
    width: 25rem;
}

.submit-btn {
    background-color: #D9B08C;
    border-color: #D9B08C;
}

.submit-btn:hover {
    background-color: #b39173;
    border-color: #b39173;
}

.submit-btn:focus {
    background-color: #b39173;
    border-color: #b39173;
}

hr.divider {
    max-width: 3.5rem;
    border-width: 0.2rem;
    border-color: #D9B08C;
}

.date-input {
    min-width: 25rem;
    height: 2.4rem;
    padding-left: 10px;
    border-radius: 0.25rem;
    border: 1px solid #cdd4da;
}