.wrapper {
    background: linear-gradient(45deg, rgba(4, 104, 117, 0.9) 0%, rgba(69, 186, 199, 0.5) 81%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 7rem;
}

.edit-card {
    width: 40rem;
}

.edit-card-heading {
    font-weight: 300;
    font-size: 2.2rem;
    color: #1F2833;
}

.form-group.label {
    font-weight: 500;
    color: #1F2833;
}

.submit-btn {
    background-color: #D9B08C;
    border-color: #D9B08C;
}

.submit-btn:hover {
    background-color: #b39173;
    border-color: #b39173;
}

.submit-btn:focus {
    background-color: #b39173;
    border-color: #b39173;
}

hr.divider {
    max-width: 3.5rem;
    border-width: 0.2rem;
    border-color: #D9B08C;
}