.page-body {
    background: url(../images/formPage/background.jpg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.register-card {
    width: 30rem;
}

.register-card-heading {
    font-weight: 300;
    font-size: 2.2rem;
    color: #1F2833;
}

.form-group {
    font-weight: 300;
}

.input-group.addon{
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(73, 80, 87, 0.8);
}

.input-group-prepend.addon {
    color:transparent
}

.input-group-text.addon {
    background-color:transparent;
    border:none;
}

.input-field-icon {
    color: #116466;
    opacity: 0.75;
}

.form-control.addon {
    border:none;
    transition:none;
    font-weight: 300;
}

.form-control:focus {
    box-shadow: none;
}

hr.divider {
    max-width: 3.5rem;
    border-width: 0.2rem;
    border-color: #D9B08C;
}

.submit-btn {
    background-color: #D9B08C;
    border-color: #D9B08C;
}

.submit-btn:hover {
    background-color: #b39173;
    border-color: #b39173;
}

.submit-btn:focus {
    background-color: #b39173;
    border-color: #b39173;
}

.details-info {
    color:#616A6B;
    font-size: 0.9rem;
}