.wrapper {
    background-color:  rgba(4, 104, 117, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 7rem;
}

.list-card {
    width: 78rem;
    min-height: 80vh;
    border-radius: 15px;
}

.list-card-heading {
    font-weight: 300;
    font-size: 2.2rem;
    color: #1F2833;
}

hr.divider {
    max-width: 3.5rem;
    border-width: 0.2rem;
    border-color: #D9B08C;
}

.table-heading {
    font-weight: 500;
    font-size: 1rem;
    color: white;
}

.table-item {
    color: #1F2833;
    font-size: 1rem;
    font-weight: 500;
}

.description-col {
    min-width: 30rem;
}

.table-header {
    background-color: rgb(20, 149, 255);
}

.table-outline {
    box-shadow: none !important;
    border-style: solid;
    border-color: transparent;
    border-width : 0px;
}

.btn.size {
    width: 5rem;
}

.text {
    font-size: 1.05rem;
    font-weight: 400;
}